body{
    height: 100vh;
}
/* header and navigavtion section */

.header-container{
    background-image: url("../images/Group13.png");
    min-width: 100%;
    width: auto;
    object-fit: cover;
    height: 400px;
}
.fill{
    width: 100%;
}
.brand-logo{
    color: #ffffff !important;
    font-weight: 500 !important;
}  
.absolute{
    position: absolute;
    right: 0;
    top:0;
}
.mini-nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.active-css {
    color: #5863f8 !important;
}
ul{
    list-style: none;
}
li a{
    color: #ffffff !important;
    text-transform: uppercase;
}
.header-image-title{
   font-size: 3rem !important;
   font-weight: 700 !important;
}
.header-image-text{
    font-size: 1.2rem;
}
.header-image-overlay{
    border: none !important;
}
/*  Rooms section  */

.photo-capital {
    color: #5863f8;
    font-weight: 700 !important;
    margin-bottom: 0px !important;
}
.lead-text {
    color: #000000;
    font-weight: 900;
    font-size: 2.8rem;
    padding-top: 0px;
    margin-top: 0px;
}
.room-box{
    background-color: rgba(218, 216, 216, 0.4);
    height: 200px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px !important;

}
.room-text {
    color: darkgray;
    font-weight: 400;
    font-size: 0.9rem;
    flex-wrap: wrap;
}

.room-title {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0 !important;
    flex-wrap: wrap;
}

.append-box{
    background-color: #5863f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 20%;
}
.append-icon{
    color: #000000;
}
.image-room{
    width: auto;
    height: auto; 
    max-height: 200px;
    max-width: 40%;
    /* width: 100px;
    height: 100px; */
}
.room-body{
    display: flex;
    flex-direction: column;

}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    .room-body {
        flex-wrap: nowrap;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .room-body{
        flex-wrap: nowrap;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .room-body {
        flex-wrap: nowrap;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .room-body {
        flex-wrap: wrap;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .room-body{
        flex-wrap: wrap;
    }
}

/* form-section */
.form-container{
    background-color: rgba(218, 216, 216, 0.4);
    height: auto;
}
input{
    color: lightgray;
    font-weight: 100;
    font-size: 1rem;
    border-radius: 0 !important;
    border: 2px solid lightgray !important;

}

select{
    border-radius: 0 !important;
    border: 2px solid lightgray !important;
}

.button-style{
    padding: 8px 16px;
    height: 48px;
    border-radius: 0 !important;
    background-color: #5863f8 !important;
    font-size: 1.2rem;
    font-weight: 500;
}
label{
    color: #5863f8;
    font-weight: 500;
    font-size: 1.1rem;
}


.send {
    padding-right: 10px;
    font-size: 1.1rem;
}

.send-icon {
    font-size: 1.1rem;
}

form{
    display: flex;
}
/* extra small devices */
@media only screen and (max-width: 575.98px) {
    form {
        flex-direction: column;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    form{
        flex-direction: column;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    form{
        flex-direction: column;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    form {
        flex-direction: row;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    form {
        flex-direction: row;
    }
}
/* <!-- photo-section --> */
.lead-text{
    font-weight: 900;
    font-size: 2.8rem;
    color: #000000;
}
.photo-capital{
    color: #5863f8 ;
    font-weight: 700 !important;
}

.image{
    min-width: 100%;
    height: auto;
}
.column{
    padding: 0 0 !important;
    margin: 0 0 !important;
}
/* footer-section */
.footer-text{
    text-align: justify;
}
.footer-container{
    background-color: #000000;
    color: white;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;

}
.footer-container ul li a{
    text-transform: capitalize;
    color: #5863f8 !important;
    font-size: 1.1rem !important;

}
.footer-icon{
    color: #5863f8;
    text-align: center;
}
.footer-text h4{
    font-size: 2rem;
    font-weight: 700;
}
.footer-text p{
    font-size: 1.1rem;
}
.special{
    font-weight: 500;
    font-size: 1.4rem;
}
span{
    padding-left: 10px;
}
#twitter-icon{
    padding-left: 10px;
}
#google-icon{
    padding-left: 10px;
}
i {
    color: #ffffff;
    font-size: 1.5rem;
}